<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARCIAL 1 :: APLICACIONES HIBRIDAS</title>
</head>
<body>
    <main class="main-style">
        <H1>Bienvenido a nuestro listado de: <br> Mejores peliculas de la última década</H1>
        <h2> Aqui encontrarás las peliculas mas emocionantes y atrapantes de la última decada, <br> con el nombre de sus infalibles autores.</h2>
    </main>
    
    <footer class="footer-style">
        <p>Desarrollado por: Altamirano Tobías</p>
        <p>Materia: Aplicaciones Hibridas</p>
        <p>Profesor: Camila Marcos Galban</p>
        <p>Comisión: DWN4AP</p>
        <p>Año: 2023</p>
    </footer>
</body>
</html>

<style>
.main-style{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: aquamarine;
    text-align: center;
    height: 70vh;
}

.footer-style{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
}
</style>